#top-bar-container {
    color: var(--theia-ui-font-color1);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-between;
    height: 100%;
    width: 100%;
}

.button-icon {
    margin-right: 4px;
}

.not-homework {
    display: none;
}

.stop-button {
    background-color: var(--theia-error-color0, #d32f2f) !important;
    color: white !important;
}

.stop-button:hover {
    background-color: var(--theia-error-color1, #c62828) !important;
}

.stop-button .button-icon {
    color: white;
}

